:host {
	position: fixed;
	z-index: 10000;
	display: flex;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.inner {
	position: absolute;
	display: flex;
	pointer-events: all;
}

.top {
	width: 100%;
	flex-direction: column;
}

.bottom {
	width: 100%;
	flex-direction: column-reverse;
	bottom: 0;
}

.left,
.right {
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.top-right,
.top-left {
	padding: 1rem;
	flex-direction: column;
}

.top-right,
.right,
.bottom-right {
	right: 0;
}

.bottom-right,
.bottom-left {
	bottom: 0;
	padding: 1rem;
	flex-direction: column-reverse;
}

.notification {
	background-color: var(--theme-popup-bg-color);
	color: var(--theme-text-color);
	font-size: 1.5rem;
	padding: 0.1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.notification-line1 {
	display: flex;
	width: 100%;
	background-color: black;
}

.notification-progress {
	height: 0.2rem;
	width: 100%;
	background-color: red;
}

.notification-error .notification-progress {
	background-color: blue;
}

.notification-line2 {
	display: flex;
}

.notification-content {
	overflow: auto;
	flex: 1;
	max-width: calc(100% - 20px);
}

.notification-close {
	fill: currentColor;
	cursor: pointer;
}

.notification-copy {
	fill: currentColor;
	cursor: pointer;
	transition: all 0.3s ease-in 0s;
}

.notification-copy-success {
	transform: rotate(1turn);
}

.notification-close>svg {
	width: 20px;
	margin: 5px;
}

.notification-success {
	background-color: #5aa822ff;
}

.notification-warning {
	background-color: #c78a17ff;
}

.notification-error {
	background-color: #c71717ff;
}

.notification-info {
	background-color: #2e88e8ff;
}
